/* ログインフォーム */

.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}

/* パスワード再設定フォーム */
.label-passdword-reset {
  margin-top: 5px;
}

.btn-password-reset {
  margin-top: 10px;
}

.btn-name-search{
  margin-bottom: 10px;
}

.btn-search {
  margin-top: 10px;
  margin-bottom: 10px;
}

