/* ユーザー情報テーブル */

.user-table {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* ユーザーフォーム */
.btn-signup {
  margin-top: 10px;
}

.label-signup {
  margin-top: 5px;
}

.skill-check-title {
  text-align: center;
}

.skill-check-area {
  border: solid 1px gainsboro;
  border-radius: 5px;
  margin: 0;
  padding: 10px;
}

.skill-check-item {
  text-align: center;
}

.skill-check-kitchen {
  margin-left: -20px;
}

input[type=checkbox].skill-check {
  transform: scale(1.5);
}

.btn-user--edit {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

/* ユーザー一覧ページ */

#table-users {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }  
}

/* ユーザー編集ページ */
.btn-user-info {
  margin-top: 10px;
}

.label-user-info {
  margin-top: 5px;
}